// Init
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

// Variables
$background: #0e1323;
$text: #fff;
$primary: #1c204b;
$secondary: #5747ea;
$orange: #ff8b64;
$blue: #55c2e6;
$red: #ff5e7d;
$green: #4bcf82;
$purple: #7335d2;
$yellow: #f1c75b;

$font: "Rubik", sans-serif;
$inspect: solid coral 1px;

// Main Styles
body {
  font-family: $font;
  background: $background;
  color: $text;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  border: $inspect;
  margin: 24px;
  width: 100vw;
  max-width: 1120px;
  min-height: 518px;
  // height: 518px;

  display: flex;
  gap: 30px;
}

// General Info Styles

.general-container {
  border: 1px solid lightgreen;
  min-width: 255px;
  height: 518px;
}

// GRID Styles

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 30px;

  .base-tile {
    border: 1px solid lightblue;
    height: 244px;
    // width: 255px;
  }
}
